.tripSearch {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    padding: 30px 0;
  }

  &__form {
    width: 40vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & label {
      margin-bottom: 5px;
    }

    & input {
      margin-bottom: 20px;
    }
  }
}