.home {

  &__title {
    padding-top: 30px;
    margin: auto;
    font-size: 30px;
    color: #1e1e1e;
  }

  &__text {
    margin: 30px auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    width: 70vw;

  }

  &__container {
    background-image: url('../../../public/assets/top_banner.jpg');
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    margin: 0 auto;
  }

  &__form {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    // margin-bottom: 30px;

    &_input input {
      display: flex;
      flex-direction: column;
      width: 35vw;
      font-size: 18px;
      line-height: 32px;
      margin: 5px 10px;
      border-radius: 5px;
      padding-left: 10px;
      border: none;
    }

    &_input label {
      font-size: 18px;
      line-height: 22px;
      color: #1e1e1e;
      font-weight: 600;
    }

    &_button {
      font-size: 18px;
      font-weight: 600;
      padding: 15px 25px;
      background-color: lightblue;
      margin: 30px auto;
      border: 2px solid #f5f5f5;
      border-radius: 7px;
      cursor: pointer;
    }
  }
}