.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  color: #1e1e1e;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;

  & a {
    padding: 15px 0;
  }

  &__link {
    text-decoration: none;
    color: #1e1e1e;

    &:hover {
      transform: translateY(-1px);
      transition: all 0.3s;
    }
  }
}