a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.main {
  // display: grid;
  // grid-template-columns: [sidebar] 1fr [content] 4fr;
  display: flex;
  justify-content: center;
  height: 90vh;

  &__sidebar {
    // grid-column: sidebar;
    background-color: #f5f5f5;
    box-shadow: 5px 0 5px #c4c4c4;
  }

  &__content {
    // grid-column: content;
  }
}